{% load static %}

<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<script src="{% static "article/js/jquery.min.js" %}"></script>
<script src="{% static "article/js/popper.min.js" %}"></script>
<script src="{% static "article/js/bootstrap.min.js" %}"></script>
<script src="{% static "article/js/slick.min.js" %}"></script>
<script src="{% static "article/js/jquery.sticky-sidebar.min.js" %}"></script>
<script src="{% static "article/js/custom.js" %}"></script>