{% load static %}

<link rel="stylesheet" href="{% static "article/css/bootstrap.min.css" %}" type="text/css" media="all">
<link rel="stylesheet" href="{% static "article/css/all.min.css" %}" type="text/css" media="all">
<link rel="stylesheet" href="{% static "article/css/slick.css" %}" type="text/css" media="all">
<link rel="stylesheet" href="{% static "article/css/simple-line-icons.css" %}" type="text/css" media="all">
<link rel="stylesheet" href="{% static "article/css/style.css" %}" type="text/css" media="all">
<link rel="stylesheet" href="{% static "article/css/vazir-font.css" %}" type="text/css" media="all">